# Cargar datos

In [118]:
import pandas as pd

df_isomor = pd.read_csv("isomorphic_groups3.csv", sep=";")

df_class = pd.read_csv("clasificacion_resultados2.csv")

In [119]:
df_class["ID"] -= 1
df_class

,ID,Clasificación,Oración
0,0,Compleja,Además se le pediría a las empresas interesada...
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española..."
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...
...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla..."
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a..."

In [120]:
string = "es_gsd-ud-train_{}.graphml"
df_class["filename"] = df_class["ID"].apply(lambda x: string.format(x))
df_class

,ID,Clasificación,Oración,filename
0,0,Compleja,Además se le pediría a las empresas interesada...,es_gsd-ud-train_0.graphml
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...,es_gsd-ud-train_1.graphml
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española...",es_gsd-ud-train_2.graphml
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...,es_gsd-ud-train_3.graphml
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...,es_gsd-ud-train_4.graphml
...,...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...,es_gsd-ud-train_14182.graphml
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...,es_gsd-ud-train_14183.graphml
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla...",es_gsd-ud-train_14184.graphml
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...,es_gsd-ud-train_14185.graphml
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a...",es_gsd-ud-train_14186.graphml

In [121]:
desc = df_class.groupby("Clasificación").size().reset_index(name='counts')
desc["%"] = desc["counts"] / desc["counts"].sum() * 100
desc

                                       Clasificación  counts          %
0                                           Compleja    6309  44.470290
1                                          Compuesta     666   4.694439
2                                 Compuesta-Compleja    1898  13.378445
3  Indeterminada (múltiples verbos sin subordinac...    1290   9.092831
4                                             Simple    4024  28.363995

# Generate DDBB format for isomorphic groups

In [125]:
import csv
from pathlib import Path

def explode(in_csv: Path, out_csv: Path):
    out_rows = []
    with in_csv.open(newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f, delimiter=';')
        for row in reader:
            sig = row.get('signature') or row.get('wl_signature')
            cls_size = int(row['count'])
            # files are pipe-separated, possibly quoted
            files = row['files'].strip().strip('"').split('|')
            for fp in files:
                fp = fp.strip()
                out_rows.append({
                    'filename': Path(fp).name,
                    'filepath': fp,
                    'wl_signature': sig,
                    'class_size': cls_size,
                })

    with out_csv.open('w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=out_rows[0].keys())
        writer.writeheader()
        writer.writerows(out_rows)
        
explode(Path("isomorphic_groups3.csv"), Path("isomorphic_groups_bbdd3.csv"))

In [126]:
df_iso_groups = pd.read_csv("isomorphic_groups_bbdd3.csv")
df_iso_groups.head(10)

,filename,filepath,wl_signature,class_size
0,es_gsd-ud-train_7825.graphml,UD_Spanish-GSD/es_gsd-ud-train_7825.graphml,"9#0,0,0,1,2,2,3,2,0#0:4|1:1|2:3|3:1",2
1,es_gsd-ud-train_6750.graphml,UD_Spanish-GSD/es_gsd-ud-train_6750.graphml,"9#0,0,0,1,2,2,3,2,0#0:4|1:1|2:3|3:1",2
2,es_gsd-ud-train_12948.graphml,UD_Spanish-GSD/es_gsd-ud-train_12948.graphml,"19#0,1,2,3,3,4,5,5,5,6,0,7,8,9,8,10,11,2,2#0:2...",1
3,es_gsd-ud-train_9745.graphml,UD_Spanish-GSD/es_gsd-ud-train_9745.graphml,"24#0,1,2,3,2,0,4,5,6,0,7,8,7,9,10,11,12,8,13,1...",1
4,es_gsd-ud-train_3290.graphml,UD_Spanish-GSD/es_gsd-ud-train_3290.graphml,"37#0,1,2,2,2,3,4,5,5,6,7,8,9,10,11,12,12,13,13...",1
5,es_gsd-ud-train_1588.graphml,UD_Spanish-GSD/es_gsd-ud-train_1588.graphml,"50#0,1,2,3,3,4,5,6,7,5,8,0,7,6,5,9,9,10,9,9,11...",1
6,es_gsd-ud-train_12830.graphml,UD_Spanish-GSD/es_gsd-ud-train_12830.graphml,"47#0,1,1,2,3,4,3,3,5,6,7,0,8,8,9,10,11,12,10,1...",1
7,es_gsd-ud-train_8337.graphml,UD_Spanish-GSD/es_gsd-ud-train_8337.graphml,"12#0,1,2,3,4,5,6,5,7,8,9,1#0:1|1:2|2:1|3:1|4:1...",2
8,es_gsd-ud-train_1883.graphml,UD_Spanish-GSD/es_gsd-ud-train_1883.graphml,"12#0,1,2,3,4,5,6,5,7,8,9,1#0:1|1:2|2:1|3:1|4:1...",2
9,es_gsd-ud-train_12958.graphml,UD_Spanish-GSD/es_gsd-ud-train_12958.graphml,"27#0,1,1,2,3,4,5,5,6,7,7,0,8,9,10,1,11,12,13,1...",1

In [144]:
df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_7626.graphml"]["wl_signature"].values[0] == df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_8960.graphml"]["wl_signature"].values[0]

True

In [142]:
df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_8960.graphml"]["wl_signature"].values[0]

'9#0,1,0,2,3,4,5,6,7#0:2|1:1|2:1|3:1|4:1|5:1|6:1|7:1'

In [128]:
join_df = df_iso_groups.merge(df_class, left_on="filename", right_on="filename", how="inner")
join_df = join_df.drop(columns=["filepath"])
join_df.head(10)

,filename,wl_signature,class_size,ID,Clasificación,Oración
0,es_gsd-ud-train_7825.graphml,"9#0,0,0,1,2,2,3,2,0#0:4|1:1|2:3|3:1",2,7825,Simple,Nasija es una película del año 2006.
1,es_gsd-ud-train_6750.graphml,"9#0,0,0,1,2,2,3,2,0#0:4|1:1|2:3|3:1",2,6750,Simple,Dadichi fue un personaje de la mitología hindu...
2,es_gsd-ud-train_12948.graphml,"19#0,1,2,3,3,4,5,5,5,6,0,7,8,9,8,10,11,2,2#0:2...",1,12948,Compleja,"Se alimenta de insectos, que busca entre las h..."
3,es_gsd-ud-train_9745.graphml,"24#0,1,2,3,2,0,4,5,6,0,7,8,7,9,10,11,12,8,13,1...",1,9745,Compleja,Aunque los tres distritos de las Azores y el M...
4,es_gsd-ud-train_3290.graphml,"37#0,1,2,2,2,3,4,5,5,6,7,8,9,10,11,12,12,13,13...",1,3290,Compleja,"A cambio de su capital y el riesgo, exigía nad..."
5,es_gsd-ud-train_1588.graphml,"50#0,1,2,3,3,4,5,6,7,5,8,0,7,6,5,9,9,10,9,9,11...",1,1588,Compleja,En el pasado se produjo un hundimiento del ter...
6,es_gsd-ud-train_12830.graphml,"47#0,1,1,2,3,4,3,3,5,6,7,0,8,8,9,10,11,12,10,1...",1,12830,Compleja,"En sus palabras, el embajador de Viet Nam en e..."
7,es_gsd-ud-train_8337.graphml,"12#0,1,2,3,4,5,6,5,7,8,9,1#0:1|1:2|2:1|3:1|4:1...",2,8337,Simple,El municipio de Howards Creek se encuentra ubi...
8,es_gsd-ud-train_1883.graphml,"12#0,1,2,3,4,5,6,5,7,8,9,1#0:1|1:2|2:1|3:1|4:1...",2,1883,Simple,En México el sello Pearless edito un EP con 3 ...
9,es_gsd-ud-train_12958.graphml,"27#0,1,1,2,3,4,5,5,6,7,7,0,8,9,10,1,11,12,13,1...",1,12958,Compleja,"Siendo muy joven a finales del siglo XVI, Saak..."

In [129]:
join_df.groupby("wl_signature").agg(diferentes=("Clasificación","nunique"), size_group=("filename", "count")).reset_index().sort_values("diferentes", ascending=False).head(20)

,wl_signature,diferentes,size_group
12416,"7#0,1,2,3,4,3,5#0:1|1:1|2:1|3:2|4:1|5:1",4,20
245,"11#0,1,0,0,2,3,4,5,5,6,7#0:3|1:1|2:1|3:1|4:1|5...",4,5
12822,"9#0,1,2,3,4,5,6,7,0#0:2|1:1|2:1|3:1|4:1|5:1|6:...",4,12
12405,"7#0,1,2,3,0,1,2#0:2|1:2|2:2|3:1",4,14
376,"11#0,1,2,3,2,4,5,6,7,8,9#0:1|1:1|2:2|3:1|4:1|5...",3,5
297,"11#0,1,0,2,3,4,5,6,7,8,9#0:2|1:1|2:1|3:1|4:1|5...",3,4
49,"10#0,0,1,2,3,2,3,0,0,1#0:4|1:2|2:2|3:2",3,3
457,"11#0,1,2,3,4,5,6,7,8,9,9#0:1|1:1|2:1|3:1|4:1|5...",3,11
12817,"9#0,1,2,3,4,5,5,6,7#0:1|1:1|2:1|3:1|4:1|5:2|6:...",3,6
12166,"62#0,1,2,0,0,0,3,0,4,5,5,0,6,4,7,4,5,5,6,4,7,4...",3,9
12801,"9#0,1,2,3,3,4,5,6,7#0:1|1:1|2:1|3:2|4:1|5:1|6:...",3,9
275,"11#0,1,0,2,3,4,3,5,5,6,7#0:2|1:1|2:1|3:2|4:1|5...",3,4
12070,"6#0,1,2,3,0,3#0:2|1:1|2:1|3:2",3,14
269,"11#0,1,0,2,3,3,4,5,5,6,7#0:2|1:1|2:1|3:2|4:1|5...",3,4
1072,"13#0,1,2,3,4,5,4,6,7,8,9,10,11#0:1|1:1|2:1|3:1...",3,3
21,"10#0,0,0,1,2,3,4,5,6,7#0:3|1:1|2:1|3:1|4:1|5:1...",3,7
42,"10#0,0,1,2,2,3,4,5,6,7#0:2|1:1|2:2|3:1|4:1|5:1...",3,5
12417,"7#0,1,2,3,4,5,0#0:2|1:1|2:1|3:1|4:1|5:1",3,11
12724,"9#0,0,1,2,2,3,4,5,0#0:3|1:1|2:2|3:1|4:1|5:1",3,4
12420,"7#0,1,2,3,4,5,4#0:1|1:1|2:1|3:1|4:2|5:1",3,5

In [131]:
out = (join_df.pivot_table(columns='Clasificación',
                           index='wl_signature',
                      aggfunc='size',  # count rows per value
                      fill_value=0)
         ).reset_index().rename_axis(None, axis=1)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple
0,"10#0,0,0,0,1,0,0,0,1,0#0:8|1:2",0,0,0,0,1
1,"10#0,0,0,0,1,0,0,1,0,0#0:8|1:2",0,0,0,0,1
2,"10#0,0,0,0,1,0,1,0,0,0#0:8|1:2",1,0,0,0,0
3,"10#0,0,0,0,1,2,3,4,2,3#0:4|1:1|2:2|3:2|4:1",1,0,0,0,0
4,"10#0,0,0,0,1,2,3,4,5,4#0:4|1:1|2:1|3:1|4:2|5:1",0,0,0,0,1
...,...,...,...,...,...,...
12839,"96#0,1,2,3,4,3,3,5,6,7,8,0,8,9,10,11,12,13,14,...",1,0,0,0,0
12840,"98#0,1,1,2,3,3,4,5,6,7,8,9,10,7,11,12,12,13,7,...",1,0,0,0,0
12841,"98#0,1,1,2,3,4,5,6,7,6,3,8,9,10,11,12,10,9,13,...",0,0,1,0,0
12842,"98#0,1,2,2,2,3,4,5,6,7,8,9,8,10,8,11,11,12,13,...",1,0,0,0,0
12843,"98#0,1,2,2,3,4,5,6,7,8,9,10,11,12,13,13,14,15,...",1,0,0,0,0

In [132]:
out["group_size"] = out[out.columns[1:]].sum(axis=1).sort_values(ascending=False)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
0,"10#0,0,0,0,1,0,0,0,1,0#0:8|1:2",0,0,0,0,1,1
1,"10#0,0,0,0,1,0,0,1,0,0#0:8|1:2",0,0,0,0,1,1
2,"10#0,0,0,0,1,0,1,0,0,0#0:8|1:2",1,0,0,0,0,1
3,"10#0,0,0,0,1,2,3,4,2,3#0:4|1:1|2:2|3:2|4:1",1,0,0,0,0,1
4,"10#0,0,0,0,1,2,3,4,5,4#0:4|1:1|2:1|3:1|4:2|5:1",0,0,0,0,1,1
...,...,...,...,...,...,...,...
12839,"96#0,1,2,3,4,3,3,5,6,7,8,0,8,9,10,11,12,13,14,...",1,0,0,0,0,1
12840,"98#0,1,1,2,3,3,4,5,6,7,8,9,10,7,11,12,12,13,7,...",1,0,0,0,0,1
12841,"98#0,1,1,2,3,4,5,6,7,6,3,8,9,10,11,12,10,9,13,...",0,0,1,0,0,1
12842,"98#0,1,2,2,2,3,4,5,6,7,8,9,8,10,8,11,11,12,13,...",1,0,0,0,0,1
12843,"98#0,1,2,2,3,4,5,6,7,8,9,10,11,12,13,13,14,15,...",1,0,0,0,0,1

In [133]:
for c in out.columns[1:-1]:
    out[c] = out[c]/out["group_size"]
    
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
0,"10#0,0,0,0,1,0,0,0,1,0#0:8|1:2",0.0,0.0,0.0,0.0,1.0,1
1,"10#0,0,0,0,1,0,0,1,0,0#0:8|1:2",0.0,0.0,0.0,0.0,1.0,1
2,"10#0,0,0,0,1,0,1,0,0,0#0:8|1:2",1.0,0.0,0.0,0.0,0.0,1
3,"10#0,0,0,0,1,2,3,4,2,3#0:4|1:1|2:2|3:2|4:1",1.0,0.0,0.0,0.0,0.0,1
4,"10#0,0,0,0,1,2,3,4,5,4#0:4|1:1|2:1|3:1|4:2|5:1",0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...
12839,"96#0,1,2,3,4,3,3,5,6,7,8,0,8,9,10,11,12,13,14,...",1.0,0.0,0.0,0.0,0.0,1
12840,"98#0,1,1,2,3,3,4,5,6,7,8,9,10,7,11,12,12,13,7,...",1.0,0.0,0.0,0.0,0.0,1
12841,"98#0,1,1,2,3,4,5,6,7,6,3,8,9,10,11,12,10,9,13,...",0.0,0.0,1.0,0.0,0.0,1
12842,"98#0,1,2,2,2,3,4,5,6,7,8,9,8,10,8,11,11,12,13,...",1.0,0.0,0.0,0.0,0.0,1
12843,"98#0,1,2,2,3,4,5,6,7,8,9,10,11,12,13,13,14,15,...",1.0,0.0,0.0,0.0,0.0,1

In [134]:
out.sort_values("group_size", ascending=False, inplace=True)

In [135]:
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
11472,"5#0,1,2,3,0#0:2|1:1|2:1|3:1",0.0,0.0,0.0,0.068182,0.931818,44
4296,"21#0,1,2,2,3,2,4,4,5,6,7,0,6,8,9,0,10,11,12,13...",0.0,0.0,0.0,0.000000,1.000000,37
1106,"13#0,1,2,3,4,5,6,7,8,1,1,9,1#0:1|1:4|2:1|3:1|4...",0.0,0.0,0.0,0.090909,0.909091,33
2242,"16#0,1,2,3,4,4,5,6,7,8,8,9,4,4,5,6#0:1|1:1|2:1...",0.0,0.0,0.0,0.000000,1.000000,24
1904,"16#0,1,0,2,3,3,4,5,2,3,3,4,6,6,7,5#0:2|1:1|2:2...",0.0,0.0,0.0,0.000000,1.000000,23
...,...,...,...,...,...,...,...
4451,"21#0,1,2,3,4,4,4,5,6,7,8,9,10,11,12,9,13,14,13...",1.0,0.0,0.0,0.000000,0.000000,1
4452,"21#0,1,2,3,4,4,5,4,4,6,7,8,6,9,10,0,8,11,12,11...",0.0,0.0,1.0,0.000000,0.000000,1
4453,"21#0,1,2,3,4,4,5,4,6,6,7,8,6,9,10,10,11,12,13,...",0.0,0.0,0.0,0.000000,1.000000,1
4454,"21#0,1,2,3,4,4,5,4,6,7,8,0,9,10,11,12,13,10,10...",1.0,0.0,0.0,0.000000,0.000000,1
12843,"98#0,1,2,2,3,4,5,6,7,8,9,10,11,12,13,13,14,15,...",1.0,0.0,0.0,0.000000,0.000000,1

In [136]:
cols = ['Compleja','Compuesta','Compuesta-Compleja','Indeterminada (múltiples verbos sin subordinación/coordinación clara)', "Simple"]

# 1) Range (peak-to-peak)
import numpy as np
    
out_filtered = out[out["group_size"] > 1]
out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min

# 2) Standard deviation (population)
out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)

# 3) Mean absolute deviation
m = out_filtered[cols].mean(axis=1)
out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

# Get the rows with the tightest values
tight_rows = out_filtered.sort_values(['group_size','spread'], ascending=[False, True]).head(20)  # or use 'row_std' / 'mad'
tight_rows

/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size,spread,row_std,mad
11472,"5#0,1,2,3,0#0:2|1:1|2:1|3:1",0.000000,0.00,0.0,0.068182,0.931818,44,0.931818,0.366861,0.292727
4296,"21#0,1,2,2,3,2,4,4,5,6,7,0,6,8,9,0,10,11,12,13...",0.000000,0.00,0.0,0.000000,1.000000,37,1.000000,0.400000,0.320000
1106,"13#0,1,2,3,4,5,6,7,8,1,1,9,1#0:1|1:4|2:1|3:1|4...",0.000000,0.00,0.0,0.090909,0.909091,33,0.909091,0.356289,0.283636
2242,"16#0,1,2,3,4,4,5,6,7,8,8,9,4,4,5,6#0:1|1:1|2:1...",0.000000,0.00,0.0,0.000000,1.000000,24,1.000000,0.400000,0.320000
10158,"4#0,1,0,1#0:2|1:2",0.043478,0.00,0.0,0.000000,0.956522,23,0.956522,0.378635,0.302609
1904,"16#0,1,0,2,3,3,4,5,2,3,3,4,6,6,7,5#0:2|1:1|2:2...",0.000000,0.00,0.0,0.000000,1.000000,23,1.000000,0.400000,0.320000
12053,"6#0,1,0,0,1,0#0:4|1:2",0.000000,0.00,0.0,0.090909,0.909091,22,0.909091,0.356289,0.283636
12416,"7#0,1,2,3,4,3,5#0:1|1:1|2:1|3:2|4:1|5:1",0.050000,0.05,0.0,0.100000,0.800000,20,0.800000,0.301662,0.240000
1042,"13#0,1,2,3,4,0,5,6,7,0,8,9,10#0:3|1:1|2:1|3:1|...",1.000000,0.00,0.0,0.000000,0.000000,19,1.000000,0.400000,0.320000
424,"11#0,1,2,3,4,5,2,6,7,8,8#0:1|1:1|2:2|3:1|4:1|5...",1.000000,0.00,0.0,0.000000,0.000000,18,1.000000,0.400000,0.320000
3034,"18#0,1,2,3,3,4,5,5,6,7,8,7,7,9,8,0,2,2#0:2|1:1...",0.000000,0.00,0.0,0.000000,1.000000,18,1.000000,0.400000,0.320000
11474,"5#0,1,2,3,2#0:1|1:1|2:2|3:1",0.000000,0.00,0.0,0.000000,1.000000,17,1.000000,0.400000,0.320000
2084,"16#0,1,2,2,3,4,5,6,0,7,8,9,0,10,11,12#0:3|1:1|...",1.000000,0.00,0.0,0.000000,0.000000,17,1.000000,0.400000,0.320000
4828,"22#0,1,2,3,3,4,3,5,5,6,7,0,8,7,9,10,11,12,13,1...",0.000000,0.00,0.0,0.000000,1.000000,17,1.000000,0.400000,0.320000
2468,"17#0,1,2,2,3,2,4,5,0,0,0,6,7,8,8,9,10#0:4|1:1|...",1.000000,0.00,0.0,0.000000,0.000000,17,1.000000,0.400000,0.320000
3068,"18#0,1,2,3,4,3,5,5,6,7,8,9,10,11,10,12,13,12#0...",0.000000,0.00,0.0,0.000000,1.000000,16,1.000000,0.400000,0.320000
12415,"7#0,1,2,3,3,4,5#0:1|1:1|2:1|3:2|4:1|5:1",0.200000,0.00,0.0,0.000000,0.800000,15,0.800000,0.309839,0.240000
10675,"43#0,1,0,2,3,4,5,6,5,7,7,0,8,7,5,9,9,10,9,10,9...",0.866667,0.00,0.0,0.133333,0.000000,15,0.866667,0.337310,0.266667
12574,"8#0,0,1,2,3,3,4,0#0:3|1:1|2:1|3:2|4:1",0.933333,0.00,0.0,0.000000,0.066667,15,0.933333,0.367575,0.293333
7657,"3#0,1,0#0:2|1:1",0.000000,0.00,0.0,0.066667,0.933333,15,0.933333,0.367575,0.293333

In [149]:
join_df[join_df["wl_signature"] == '9#0,1,0,2,3,4,5,6,7#0:2|1:1|2:1|3:1|4:1|5:1|6:1|7:1']

,filename,wl_signature,class_size,ID,Clasificación,Oración
3486,es_gsd-ud-train_8960.graphml,"9#0,1,0,2,3,4,5,6,7#0:2|1:1|2:1|3:1|4:1|5:1|6:...",2,8960,Compleja,Las regiones fértiles soportan conceptaculos l...
3487,es_gsd-ud-train_7626.graphml,"9#0,1,0,2,3,4,5,6,7#0:2|1:1|2:1|3:1|4:1|5:1|6:...",2,7626,Simple,"Como docente, enseña historia contemporánea de..."