# Cargar datos

In [1]:
import pandas as pd

output_name = "isomorphic_groups_labeled"

df_isomor = pd.read_csv("isomorphic_groups_labeled.csv", sep=";")

df_class = pd.read_csv("clasificacion_resultados2.csv")

In [2]:
df_class["ID"] -= 1
df_class

,ID,Clasificación,Oración
0,0,Compleja,Además se le pediría a las empresas interesada...
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española..."
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...
...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla..."
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a..."

In [3]:
string = "es_gsd-ud-train_{}.graphml"
df_class["filename"] = df_class["ID"].apply(lambda x: string.format(x))
df_class

,ID,Clasificación,Oración,filename
0,0,Compleja,Además se le pediría a las empresas interesada...,es_gsd-ud-train_0.graphml
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...,es_gsd-ud-train_1.graphml
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española...",es_gsd-ud-train_2.graphml
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...,es_gsd-ud-train_3.graphml
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...,es_gsd-ud-train_4.graphml
...,...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...,es_gsd-ud-train_14182.graphml
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...,es_gsd-ud-train_14183.graphml
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla...",es_gsd-ud-train_14184.graphml
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...,es_gsd-ud-train_14185.graphml
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a...",es_gsd-ud-train_14186.graphml

In [4]:
desc = df_class.groupby("Clasificación").size().reset_index(name='counts')
desc["%"] = desc["counts"] / desc["counts"].sum() * 100
desc

                                       Clasificación  counts          %
0                                           Compleja    6309  44.470290
1                                          Compuesta     666   4.694439
2                                 Compuesta-Compleja    1898  13.378445
3  Indeterminada (múltiples verbos sin subordinac...    1290   9.092831
4                                             Simple    3780  26.644111
5                                          Unimembre     244   1.719884

# Generate DDBB format for isomorphic groups

In [5]:
import csv
from pathlib import Path

def explode(in_csv: Path, out_csv: Path):
    out_rows = []
    with in_csv.open(newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f, delimiter=';')
        for row in reader:
            sig = row.get('signature') or row.get('wl_signature')
            cls_size = int(row['count'])
            # files are pipe-separated, possibly quoted
            files = row['files'].strip().strip('"').split('|')
            for fp in files:
                fp = fp.strip()
                out_rows.append({
                    'filename': Path(fp).name,
                    'filepath': fp,
                    'wl_signature': sig,
                    'class_size': cls_size,
                })

    with out_csv.open('w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=out_rows[0].keys())
        writer.writeheader()
        writer.writerows(out_rows)
        
explode(Path("isomorphic_groups_labeled.csv"), Path("isomorphic_groups_labeled_bbdd.csv"))

In [6]:
df_iso_groups = pd.read_csv("isomorphic_groups_labeled_bbdd.csv")
df_iso_groups.head(10)

,filename,filepath,wl_signature,class_size
0,es_gsd-ud-train_7825.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(3,):1|1_(3,):1|2_(3,):1|3_(0, 1, 2, 6, 8):1...",2
1,es_gsd-ud-train_6750.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(3,):1|1_(3,):1|2_(3,):1|3_(0, 1, 2, 6, 8):1...",2
2,es_gsd-ud-train_12948.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(11,):1|10_(11,):1|11_(0, 10, 13):1|12_(13,)...",1
3,es_gsd-ud-train_9745.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(6,):1|10_(13,):1|11_(18,):1|12_(13,):1|13_(...",1
4,es_gsd-ud-train_3290.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(11,):1|10_(12,):1|11_(0, 1, 32, 36):1|12_(9...",1
5,es_gsd-ud-train_1588.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(21,):1|10_(6, 7, 9, 13, 14, 17, 46):1|11_(2...",1
6,es_gsd-ud-train_12830.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(21,):1|10_(21,):1|11_(13,):1|12_(13,):1|13_...",1
7,es_gsd-ud-train_8337.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(4,):1|10_(2, 3, 4, 9):1|11_(2,):1|1_(2,):1|...",1
8,es_gsd-ud-train_12958.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(20,):1|10_(12,):1|11_(20,):1|12_(8, 9, 10, ...",1
9,es_gsd-ud-train_9755.graphml,../data/graphs/UD_Spanish-GSD/es_gsd-ud-train_...,"0_(1, 11, 13):1|10_(1,):2|11_(0,):1|12_(13,):3...",1

In [8]:
df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_8960.graphml"]["wl_signature"].values[0]

'0_(1,):1|1_(0, 2, 3):1|2_(1,):1|3_(1, 4, 8):1|4_(3, 5):1|5_(4, 7):1|6_(7,):1|7_(5, 6):1|8_(3,):1'

In [9]:
join_df = df_iso_groups.merge(df_class, left_on="filename", right_on="filename", how="inner")
join_df = join_df.drop(columns=["filepath"])
join_df.head(10)

,filename,wl_signature,class_size,ID,Clasificación,Oración
0,es_gsd-ud-train_7825.graphml,"0_(3,):1|1_(3,):1|2_(3,):1|3_(0, 1, 2, 6, 8):1...",2,7825,Simple,Nasija es una película del año 2006.
1,es_gsd-ud-train_6750.graphml,"0_(3,):1|1_(3,):1|2_(3,):1|3_(0, 1, 2, 6, 8):1...",2,6750,Simple,Dadichi fue un personaje de la mitología hindu...
2,es_gsd-ud-train_12948.graphml,"0_(11,):1|10_(11,):1|11_(0, 10, 13):1|12_(13,)...",1,12948,Compleja,"Se alimenta de insectos, que busca entre las h..."
3,es_gsd-ud-train_9745.graphml,"0_(6,):1|10_(13,):1|11_(18,):1|12_(13,):1|13_(...",1,9745,Compleja,Aunque los tres distritos de las Azores y el M...
4,es_gsd-ud-train_3290.graphml,"0_(11,):1|10_(12,):1|11_(0, 1, 32, 36):1|12_(9...",1,3290,Compleja,"A cambio de su capital y el riesgo, exigía nad..."
5,es_gsd-ud-train_1588.graphml,"0_(21,):1|10_(6, 7, 9, 13, 14, 17, 46):1|11_(2...",1,1588,Compleja,En el pasado se produjo un hundimiento del ter...
6,es_gsd-ud-train_12830.graphml,"0_(21,):1|10_(21,):1|11_(13,):1|12_(13,):1|13_...",1,12830,Compleja,"En sus palabras, el embajador de Viet Nam en e..."
7,es_gsd-ud-train_8337.graphml,"0_(4,):1|10_(2, 3, 4, 9):1|11_(2,):1|1_(2,):1|...",1,8337,Simple,El municipio de Howards Creek se encuentra ubi...
8,es_gsd-ud-train_12958.graphml,"0_(20,):1|10_(12,):1|11_(20,):1|12_(8, 9, 10, ...",1,12958,Compleja,"Siendo muy joven a finales del siglo XVI, Saak..."
9,es_gsd-ud-train_9755.graphml,"0_(1, 11, 13):1|10_(1,):2|11_(0,):1|12_(13,):3...",1,9755,Simple,"Hugh Low (1824 -- 1905) fue un naturalista, ad..."

In [10]:
join_df.groupby("wl_signature").agg(diferentes=("Clasificación","nunique"), size_group=("filename", "count")).reset_index().sort_values("diferentes", ascending=False).head(20)

,wl_signature,diferentes,size_group
416,"0_(1,):1|1_(0, 3, 5, 8):1|2_(3,):1|3_(1, 2):1|...",4,4
421,"0_(1,):1|1_(0, 3, 6):1|2_(3,):1|3_(1, 2, 5):1|...",4,7
7742,"0_(2, 5):1|1_(2,):1|2_(0, 1, 4):1|3_(4,):1|4_(...",4,14
10416,"0_(4,):1|10_(1,):1|1_(9, 10):1|2_(4,):1|3_(4,)...",3,3
319,"0_(1,):1|1_(0, 2):1|2_(1, 4, 6):1|3_(4,):1|4_(...",3,9
333,"0_(1,):1|1_(0, 2):1|2_(1,):1",3,15
445,"0_(1,):1|1_(0, 4):1|2_(4,):1|3_(4,):1|4_(1, 2,...",3,5
9815,"0_(3,):1|10_(1,):1|1_(9, 10):1|2_(3,):1|3_(0, ...",3,3
346,"0_(1,):1|1_(0, 2, 3):1|2_(1,):1|3_(1,):1",3,4
392,"0_(1,):1|1_(0, 3):1|2_(3,):1|3_(1, 2, 5, 6):1|...",3,13
406,"0_(1,):1|1_(0, 3, 4):1|2_(3,):1|3_(1, 2):1|4_(...",3,40
10001,"0_(30,):1|10_(8, 8, 12):1|11_(12,):1|12_(2, 7,...",3,9
7889,"0_(2,):1|1_(2,):1|2_(0, 1, 4):1|3_(4,):1|4_(2,...",3,3
7717,"0_(2, 4, 5):1|1_(2,):1|2_(0, 1):1|3_(4,):1|4_(...",3,7
451,"0_(1,):1|1_(0, 4, 5):1|2_(4,):1|3_(4,):1|4_(1,...",3,18
407,"0_(1,):1|1_(0, 3, 5):1|2_(3,):1|3_(1, 2):1|4_(...",3,4
412,"0_(1,):1|1_(0, 3, 5):1|2_(3,):1|3_(1, 2, 4):1|...",3,8
7812,"0_(2, 8):1|1_(2,):1|2_(0, 1, 4, 7):1|3_(4,):1|...",2,2
384,"0_(1,):1|1_(0, 3):1|2_(3,):1|3_(1, 2, 4):1|4_(...",2,16
381,"0_(1,):1|1_(0, 2, 7, 8):1|2_(1, 4):1|3_(4,):1|...",2,2

In [11]:
out = (join_df.pivot_table(columns='Clasificación',
                           index='wl_signature',
                      aggfunc='size',  # count rows per value
                      fill_value=0)
         ).reset_index().rename_axis(None, axis=1)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,Unimembre
0,"0_(0,):2",0,0,0,0,0,1
1,"0_(1, 1):1|1_(0,):2",0,0,0,0,0,1
2,"0_(1, 1, 1, 2, 3, 5):1|1_(0,):3|2_(0,):1|3_(0,...",1,0,0,0,0,0
3,"0_(1, 1, 1, 3, 22, 29):1|10_(8, 9):1|11_(22,):...",1,0,0,0,0,0
4,"0_(1, 1, 2):1|1_(0,):2|2_(0,):1",0,0,0,0,0,4
...,...,...,...,...,...,...,...
13224,"0_(9,):2|10_(9,):1|11_(13,):1|12_(13,):1|13_(1...",0,0,0,0,1,0
13225,"0_(9,):2|10_(9,):1|11_(9, 15):1|12_(15,):1|13_...",1,0,0,0,0,0
13226,"0_(9,):3|10_(11,):1|11_(9, 10, 13):1|12_(13,):...",1,0,0,0,0,0
13227,"0_(9,):3|10_(12,):1|11_(12,):1|12_(9, 10, 11, ...",0,0,0,0,1,0
13228,"0_(9,):3|10_(2,):1|11_(2,):1|1_(2,):1|2_(1, 5,...",0,0,0,1,0,0

In [12]:
out["group_size"] = out[out.columns[1:]].sum(axis=1).sort_values(ascending=False)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,Unimembre,group_size
0,"0_(0,):2",0,0,0,0,0,1,1
1,"0_(1, 1):1|1_(0,):2",0,0,0,0,0,1,1
2,"0_(1, 1, 1, 2, 3, 5):1|1_(0,):3|2_(0,):1|3_(0,...",1,0,0,0,0,0,1
3,"0_(1, 1, 1, 3, 22, 29):1|10_(8, 9):1|11_(22,):...",1,0,0,0,0,0,1
4,"0_(1, 1, 2):1|1_(0,):2|2_(0,):1",0,0,0,0,0,4,4
...,...,...,...,...,...,...,...,...
13224,"0_(9,):2|10_(9,):1|11_(13,):1|12_(13,):1|13_(1...",0,0,0,0,1,0,1
13225,"0_(9,):2|10_(9,):1|11_(9, 15):1|12_(15,):1|13_...",1,0,0,0,0,0,1
13226,"0_(9,):3|10_(11,):1|11_(9, 10, 13):1|12_(13,):...",1,0,0,0,0,0,1
13227,"0_(9,):3|10_(12,):1|11_(12,):1|12_(9, 10, 11, ...",0,0,0,0,1,0,1
13228,"0_(9,):3|10_(2,):1|11_(2,):1|1_(2,):1|2_(1, 5,...",0,0,0,1,0,0,1

In [13]:
for c in out.columns[1:-1]:
    out[c] = out[c]/out["group_size"]
    
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,Unimembre,group_size
0,"0_(0,):2",0.0,0.0,0.0,0.0,0.0,1.0,1
1,"0_(1, 1):1|1_(0,):2",0.0,0.0,0.0,0.0,0.0,1.0,1
2,"0_(1, 1, 1, 2, 3, 5):1|1_(0,):3|2_(0,):1|3_(0,...",1.0,0.0,0.0,0.0,0.0,0.0,1
3,"0_(1, 1, 1, 3, 22, 29):1|10_(8, 9):1|11_(22,):...",1.0,0.0,0.0,0.0,0.0,0.0,1
4,"0_(1, 1, 2):1|1_(0,):2|2_(0,):1",0.0,0.0,0.0,0.0,0.0,1.0,4
...,...,...,...,...,...,...,...,...
13224,"0_(9,):2|10_(9,):1|11_(13,):1|12_(13,):1|13_(1...",0.0,0.0,0.0,0.0,1.0,0.0,1
13225,"0_(9,):2|10_(9,):1|11_(9, 15):1|12_(15,):1|13_...",1.0,0.0,0.0,0.0,0.0,0.0,1
13226,"0_(9,):3|10_(11,):1|11_(9, 10, 13):1|12_(13,):...",1.0,0.0,0.0,0.0,0.0,0.0,1
13227,"0_(9,):3|10_(12,):1|11_(12,):1|12_(9, 10, 11, ...",0.0,0.0,0.0,0.0,1.0,0.0,1
13228,"0_(9,):3|10_(2,):1|11_(2,):1|1_(2,):1|2_(1, 5,...",0.0,0.0,0.0,1.0,0.0,0.0,1

In [14]:
out.sort_values("group_size", ascending=False, inplace=True)

In [15]:
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,Unimembre,group_size
406,"0_(1,):1|1_(0, 3, 4):1|2_(3,):1|3_(1, 2):1|4_(...",0.0,0.0,0.0,0.075000,0.800000,0.125,40
6806,"0_(14,):1|10_(8, 9, 12):1|11_(14,):1|12_(10,):...",0.0,0.0,0.0,0.000000,1.000000,0.000,36
10837,"0_(5,):1|10_(1, 1, 2, 8, 9, 11):1|11_(10,):1|1...",0.0,0.0,0.0,0.074074,0.925926,0.000,27
11955,"0_(7,):1|10_(7, 8, 9):1|11_(13,):1|12_(13,):1|...",0.0,0.0,0.0,0.000000,1.000000,0.000,23
12262,"0_(8,):1|10_(11,):1|11_(8, 9, 10):1|12_(14,):1...",0.0,0.0,0.0,0.000000,1.000000,0.000,23
...,...,...,...,...,...,...,...,...
4487,"0_(11,):1|10_(13,):2|11_(0, 14, 16):1|12_(13,)...",1.0,0.0,0.0,0.000000,0.000000,0.000,1
4488,"0_(11,):1|10_(13,):2|11_(0, 15):1|12_(13,):1|1...",0.0,0.0,0.0,1.000000,0.000000,0.000,1
4489,"0_(11,):1|10_(13,):2|11_(0, 15, 17):1|12_(13,)...",1.0,0.0,0.0,0.000000,0.000000,0.000,1
4490,"0_(11,):1|10_(13,):2|11_(0, 16, 17, 18):1|12_(...",1.0,0.0,0.0,0.000000,0.000000,0.000,1
13228,"0_(9,):3|10_(2,):1|11_(2,):1|1_(2,):1|2_(1, 5,...",0.0,0.0,0.0,1.000000,0.000000,0.000,1

In [16]:
cols = ['Compleja','Compuesta','Compuesta-Compleja','Indeterminada (múltiples verbos sin subordinación/coordinación clara)', "Simple"]

# 1) Range (peak-to-peak)
import numpy as np
    
out_filtered = out[out["group_size"] > 1]
out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min

# 2) Standard deviation (population)
out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)

# 3) Mean absolute deviation
m = out_filtered[cols].mean(axis=1)
out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

# Get the rows with the tightest values
tight_rows = out_filtered.sort_values(['group_size','spread'], ascending=[False, True]).head(20)  # or use 'row_std' / 'mad'
tight_rows

/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_66140/2934903349.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_66140/2934903349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_66140/2934903349.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,Unimembre,group_size,spread,row_std,mad
406,"0_(1,):1|1_(0, 3, 4):1|2_(3,):1|3_(1, 2):1|4_(...",0.000000,0.000000,0.0,0.075000,0.800000,0.125000,40,0.800000,0.313847,0.250000
6806,"0_(14,):1|10_(8, 9, 12):1|11_(14,):1|12_(10,):...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,36,1.000000,0.400000,0.320000
10837,"0_(5,):1|10_(1, 1, 2, 8, 9, 11):1|11_(10,):1|1...",0.000000,0.000000,0.0,0.074074,0.925926,0.000000,27,0.925926,0.364095,0.290370
11955,"0_(7,):1|10_(7, 8, 9):1|11_(13,):1|12_(13,):1|...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,23,1.000000,0.400000,0.320000
12262,"0_(8,):1|10_(11,):1|11_(8, 9, 10):1|12_(14,):1...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,23,1.000000,0.400000,0.320000
7659,"0_(2, 3):1|1_(2,):1|2_(0, 1):1|3_(0,):1",0.045455,0.000000,0.0,0.000000,0.954545,0.000000,22,0.954545,0.377683,0.301818
451,"0_(1,):1|1_(0, 4, 5):1|2_(4,):1|3_(4,):1|4_(1,...",0.000000,0.000000,0.0,0.111111,0.722222,0.166667,18,0.722222,0.281091,0.222222
9806,"0_(3,):1|10_(1,):1|1_(8, 9, 10):1|2_(7,):1|3_(...",1.000000,0.000000,0.0,0.000000,0.000000,0.000000,18,1.000000,0.400000,0.320000
12815,"0_(9,):1|10_(11,):1|11_(9, 10):1|12_(9,):1|13_...",1.000000,0.000000,0.0,0.000000,0.000000,0.000000,17,1.000000,0.400000,0.320000
11580,"0_(6,):2|10_(11,):1|11_(1, 9, 10):1|1_(3, 11):...",1.000000,0.000000,0.0,0.000000,0.000000,0.000000,17,1.000000,0.400000,0.320000
384,"0_(1,):1|1_(0, 3):1|2_(3,):1|3_(1, 2, 4):1|4_(...",0.000000,0.000000,0.0,0.000000,0.875000,0.125000,16,0.875000,0.350000,0.280000
333,"0_(1,):1|1_(0, 2):1|2_(1,):1",0.000000,0.000000,0.0,0.066667,0.400000,0.533333,15,0.400000,0.155492,0.122667
7878,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",0.933333,0.000000,0.0,0.000000,0.066667,0.000000,15,0.933333,0.367575,0.293333
598,"0_(10, 13):1|10_(0,):1|11_(13,):1|12_(13,):1|1...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,15,1.000000,0.400000,0.320000
6894,"0_(15,):1|10_(12,):1|11_(15,):1|12_(9, 10, 13)...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,15,1.000000,0.400000,0.320000
7742,"0_(2, 5):1|1_(2,):1|2_(0, 1, 4):1|3_(4,):1|4_(...",0.071429,0.000000,0.0,0.071429,0.785714,0.071429,14,0.785714,0.301696,0.240000
7900,"0_(2,):1|1_(2,):1|2_(0, 1, 4, 5):1|3_(4,):1|4_...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,14,1.000000,0.400000,0.320000
392,"0_(1,):1|1_(0, 3):1|2_(3,):1|3_(1, 2, 5, 6):1|...",0.000000,0.076923,0.0,0.076923,0.846154,0.000000,13,0.846154,0.324903,0.258462
10328,"0_(4, 7):1|10_(1,):1|11_(1,):1|1_(2, 7, 10, 11...",0.000000,0.000000,0.0,0.000000,1.000000,0.000000,13,1.000000,0.400000,0.320000
101,"0_(1, 2):1|1_(0,):1|2_(0,):1",0.000000,0.000000,0.0,0.000000,0.333333,0.666667,12,0.333333,0.133333,0.106667

In [17]:
tight_rows.loc[7878]["wl_signature"]  # Example to check a specific signature

'0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|4_(6,):1|5_(6,):1|6_(3, 4, 5):1|7_(2,):1'

In [18]:
join_df[join_df["wl_signature"] == '0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|4_(6,):1|5_(6,):1|6_(3, 4, 5):1|7_(2,):1']  # Check for a specific signature

,filename,wl_signature,class_size,ID,Clasificación,Oración
100,es_gsd-ud-train_5387.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,5387,Compleja,Worth se encuentra ubicado en las coordenadas.
101,es_gsd-ud-train_3229.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,3229,Compleja,Cleveland se encuentra ubicado en las coordena...
102,es_gsd-ud-train_496.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,496,Compleja,Garfield se encuentra ubicado en las coordenadas.
103,es_gsd-ud-train_8435.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,8435,Compleja,Farmington se encuentra ubicado en las coorden...
104,es_gsd-ud-train_7236.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,7236,Compleja,Streeter se encuentra ubicada en las coordenadas.
105,es_gsd-ud-train_3980.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,3980,Compleja,Freemansburg se encuentra ubicado en las coord...
106,es_gsd-ud-train_4298.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,4298,Compleja,Loup se encuentra ubicado en las coordenadas.
107,es_gsd-ud-train_11863.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,11863,Compleja,Oblong se encuentra ubicada en las coordenadas.
108,es_gsd-ud-train_4686.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,4686,Compleja,Nikolaevsk se encuentra ubicada en las coorden...
109,es_gsd-ud-train_138.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,138,Simple,Batavia se encuentra ubicada en las coordenadas.
110,es_gsd-ud-train_12470.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,12470,Compleja,Pegram se encuentra ubicado en las coordenadas.
111,es_gsd-ud-train_13375.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,13375,Compleja,Morse se encuentra ubicado en las coordenadas.
112,es_gsd-ud-train_11047.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,11047,Compleja,Elberta se encuentra ubicado en las coordenadas.
113,es_gsd-ud-train_8349.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,8349,Compleja,Clifton se encuentra ubicado en las coordenadas.
114,es_gsd-ud-train_3587.graphml,"0_(2,):1|1_(2,):1|2_(0, 1, 3, 7):1|3_(2, 6):1|...",15,3587,Compleja,Greybull se encuentra ubicado en las coordenadas.

In [17]:
out_filtered[(out_filtered["spread"]<= 0.80)&(out_filtered["group_size"] > 10)].iloc[2]

wl_signature                                                             0_(1,):3|1_(0, 0, 0):1
Compleja                                                                                    0.0
Compuesta                                                                                   0.0
Compuesta-Compleja                                                                          0.0
Indeterminada (múltiples verbos sin subordinación/coordinación clara)                  0.055556
Simple                                                                                 0.611111
Unimembre                                                                              0.333333
group_size                                                                                   18
spread                                                                                 0.611111
row_std                                                                                0.239856
mad                                                                                    0.191111
Name: 494, dtype: object

In [18]:
join_df[join_df["wl_signature"] == "0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1"]

,filename,wl_signature,class_size,ID,Clasificación,Oración
4021,es_gsd-ud-train_81.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,81,Compleja,La estabilidad financiera es algo que Macedoni...
4022,es_gsd-ud-train_10315.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,10315,Simple,"Esa noche, Faith va al Bronze."
4023,es_gsd-ud-train_6938.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,6938,Compleja,Es autor de una docena de libros especializados.
4024,es_gsd-ud-train_8400.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,8400,Simple,La gente normal la ve en 1 minuto.
4025,es_gsd-ud-train_2198.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,2198,Simple,También tuvo varios casos notables de gran esc...
4026,es_gsd-ud-train_7093.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,7093,Indeterminada (múltiples verbos sin subordinac...,El gobierno constitucionalista tuvo que manten...
4027,es_gsd-ud-train_4382.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,4382,Simple,Ha habido un amplio comentario sobre la cuestión.
4028,es_gsd-ud-train_6258.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,6258,Simple,A esta obra le siguieron varias comedias ligeras.
4029,es_gsd-ud-train_2190.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,2190,Simple,En su lado Este posee una pequeña sacristía.
4030,es_gsd-ud-train_5286.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,5286,Simple,Esta clasificado como un puerto de categoría E...
4031,es_gsd-ud-train_7589.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,7589,Compleja,Ella dice que se alegra de su éxito.
4032,es_gsd-ud-train_12547.graphml,"0_(1,):4|1_(0, 0, 3):2|2_(3,):2|3_(1, 1, 2, 2):1",12,12547,Compleja,"Os recomiendo que no vayáis, si podéis."