# Cargar datos

In [150]:
import pandas as pd

df_isomor = pd.read_csv("isomorphic_groups3.csv", sep=";")

df_class = pd.read_csv("clasificacion_resultados2.csv")

In [151]:
df_class["ID"] -= 1
df_class

,ID,Clasificación,Oración
0,0,Compleja,Además se le pediría a las empresas interesada...
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española..."
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...
...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla..."
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a..."

In [152]:
string = "es_gsd-ud-train_{}.graphml"
df_class["filename"] = df_class["ID"].apply(lambda x: string.format(x))
df_class

,ID,Clasificación,Oración,filename
0,0,Compleja,Además se le pediría a las empresas interesada...,es_gsd-ud-train_0.graphml
1,1,Compuesta-Compleja,Producto del fin del imperio y las invasiones ...,es_gsd-ud-train_1.graphml
2,2,Compleja,"MADRID, 3 (EUROPA PRESS) Las tenistas española...",es_gsd-ud-train_2.graphml
3,3,Compleja,Los pacientes con diabetes son cuatro veces má...,es_gsd-ud-train_3.graphml
4,4,Simple,Aclarando hacia todo el mundo Valderrama Y Edu...,es_gsd-ud-train_4.graphml
...,...,...,...,...
14182,14182,Simple,San Julián de Morcelle (en gallego: San Xulián...,es_gsd-ud-train_14182.graphml
14183,14183,Compuesta-Compleja,Una vez que el Hijo de Krypton suelta el misil...,es_gsd-ud-train_14183.graphml
14184,14184,Compleja,"Jazmin es todo lo contrario, es tímida y calla...",es_gsd-ud-train_14184.graphml
14185,14185,Simple,Esta teoría se avenía bien con la creencia del...,es_gsd-ud-train_14185.graphml
14186,14186,Compleja,"En 1991, como ya está indicado en el párrafo a...",es_gsd-ud-train_14186.graphml

In [153]:
desc = df_class.groupby("Clasificación").size().reset_index(name='counts')
desc["%"] = desc["counts"] / desc["counts"].sum() * 100
desc

                                       Clasificación  counts          %
0                                           Compleja    6309  44.470290
1                                          Compuesta     666   4.694439
2                                 Compuesta-Compleja    1898  13.378445
3  Indeterminada (múltiples verbos sin subordinac...    1290   9.092831
4                                             Simple    4024  28.363995

# Generate DDBB format for isomorphic groups

In [154]:
import csv
from pathlib import Path

def explode(in_csv: Path, out_csv: Path):
    out_rows = []
    with in_csv.open(newline='', encoding='utf-8') as f:
        reader = csv.DictReader(f, delimiter=';')
        for row in reader:
            sig = row.get('signature') or row.get('wl_signature')
            cls_size = int(row['count'])
            # files are pipe-separated, possibly quoted
            files = row['files'].strip().strip('"').split('|')
            for fp in files:
                fp = fp.strip()
                out_rows.append({
                    'filename': Path(fp).name,
                    'filepath': fp,
                    'wl_signature': sig,
                    'class_size': cls_size,
                })

    with out_csv.open('w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=out_rows[0].keys())
        writer.writeheader()
        writer.writerows(out_rows)
        
explode(Path("isomorphic_groups3.csv"), Path("isomorphic_groups_bbdd3.csv"))

In [155]:
df_iso_groups = pd.read_csv("isomorphic_groups_bbdd3.csv")
df_iso_groups.head(10)

,filename,filepath,wl_signature,class_size
0,es_gsd-ud-train_7825.graphml,UD_Spanish-GSD/es_gsd-ud-train_7825.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5
1,es_gsd-ud-train_13319.graphml,UD_Spanish-GSD/es_gsd-ud-train_13319.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5
2,es_gsd-ud-train_6750.graphml,UD_Spanish-GSD/es_gsd-ud-train_6750.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5
3,es_gsd-ud-train_4447.graphml,UD_Spanish-GSD/es_gsd-ud-train_4447.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5
4,es_gsd-ud-train_5637.graphml,UD_Spanish-GSD/es_gsd-ud-train_5637.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5
5,es_gsd-ud-train_12948.graphml,UD_Spanish-GSD/es_gsd-ud-train_12948.graphml,"19#0,1,2,3,4,5,6,6,7,8,8,9,10,10,10,11,11,6,9#...",1
6,es_gsd-ud-train_9745.graphml,UD_Spanish-GSD/es_gsd-ud-train_9745.graphml,"24#0,1,2,3,4,5,6,7,8,9,9,10,10,11,12,13,11,13,...",1
7,es_gsd-ud-train_3290.graphml,UD_Spanish-GSD/es_gsd-ud-train_3290.graphml,"37#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,14,15,16...",1
8,es_gsd-ud-train_1588.graphml,UD_Spanish-GSD/es_gsd-ud-train_1588.graphml,"50#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,15,16...",1
9,es_gsd-ud-train_12830.graphml,UD_Spanish-GSD/es_gsd-ud-train_12830.graphml,"47#0,1,2,3,4,5,6,7,8,9,10,11,12,10,13,14,15,16...",1

In [167]:
df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_7626.graphml"]["wl_signature"].values[0] == df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_8960.graphml"]["wl_signature"].values[0]

True

In [170]:
df_iso_groups[df_iso_groups["filename"] == "es_gsd-ud-train_8960.graphml"]["wl_signature"].values[0]

'9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:1|7:2'

In [158]:
join_df = df_iso_groups.merge(df_class, left_on="filename", right_on="filename", how="inner")
join_df = join_df.drop(columns=["filepath"])
join_df.head(10)

,filename,wl_signature,class_size,ID,Clasificación,Oración
0,es_gsd-ud-train_7825.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5,7825,Simple,Nasija es una película del año 2006.
1,es_gsd-ud-train_13319.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5,13319,Compuesta,Nosotros lo hemos hecho y lo hemos entendido.
2,es_gsd-ud-train_6750.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5,6750,Simple,Dadichi fue un personaje de la mitología hindu...
3,es_gsd-ud-train_4447.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5,4447,Simple,Es una especie rara en la vida silvestre.
4,es_gsd-ud-train_5637.graphml,"9#0,1,2,3,3,3,2,2,2#0:1|1:1|2:4|3:3",5,5637,Simple,Fue la única mexicana entre las cinco grandes.
5,es_gsd-ud-train_12948.graphml,"19#0,1,2,3,4,5,6,6,7,8,8,9,10,10,10,11,11,6,9#...",1,12948,Compleja,"Se alimenta de insectos, que busca entre las h..."
6,es_gsd-ud-train_9745.graphml,"24#0,1,2,3,4,5,6,7,8,9,9,10,10,11,12,13,11,13,...",1,9745,Compleja,Aunque los tres distritos de las Azores y el M...
7,es_gsd-ud-train_3290.graphml,"37#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,14,15,16...",1,3290,Compleja,"A cambio de su capital y el riesgo, exigía nad..."
8,es_gsd-ud-train_1588.graphml,"50#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,15,16...",1,1588,Compleja,En el pasado se produjo un hundimiento del ter...
9,es_gsd-ud-train_12830.graphml,"47#0,1,2,3,4,5,6,7,8,9,10,11,12,10,13,14,15,16...",1,12830,Compleja,"En sus palabras, el embajador de Viet Nam en e..."

In [159]:
join_df.groupby("wl_signature").agg(diferentes=("Clasificación","nunique"), size_group=("filename", "count")).reset_index().sort_values("diferentes", ascending=False).head(20)

,wl_signature,diferentes,size_group
421,"12#0,1,2,3,3,4,5,5,6,7,4,6#0:1|1:1|2:1|3:2|4:2...",5,5
12022,"7#0,1,2,3,4,4,5#0:1|1:1|2:1|3:1|4:2|5:1",4,37
12311,"9#0,1,2,3,4,5,5,6,7#0:1|1:1|2:1|3:1|4:1|5:2|6:...",4,10
281,"11#0,1,2,3,4,5,5,6,6,7,7#0:1|1:1|2:1|3:1|4:1|5...",4,9
12007,"7#0,1,1,2,3,2,3#0:1|1:2|2:2|3:2",4,18
287,"11#0,1,2,3,4,5,5,6,7,7,7#0:1|1:1|2:1|3:1|4:1|5...",4,5
12317,"9#0,1,2,3,4,5,6,7,4#0:1|1:1|2:1|3:1|4:2|5:1|6:...",4,13
12016,"7#0,1,2,3,3,2,2#0:1|1:1|2:3|3:2",4,16
54,"10#0,1,2,3,3,3,4,4,5,5#0:1|1:1|2:1|3:3|4:2|5:2",4,8
115,"10#0,1,2,3,4,5,6,7,7,7#0:1|1:1|2:1|3:1|4:1|5:1...",4,10
819,"13#0,1,2,3,4,5,6,6,7,8,9,9,8#0:1|1:1|2:1|3:1|4...",4,5
12193,"8#0,1,2,3,4,4,3,5#0:1|1:1|2:1|3:2|4:2|5:1",4,11
12160,"8#0,0,1,1,1,1,1,1#0:2|1:6",4,12
314,"11#0,1,2,3,4,5,6,7,7,7,7#0:1|1:1|2:1|3:1|4:1|5...",3,5
11708,"6#0,1,2,3,3,3#0:1|1:1|2:1|3:3",3,6
12304,"9#0,1,2,3,4,5,5,3,3#0:1|1:1|2:1|3:3|4:1|5:2",3,8
538,"12#0,1,2,3,4,5,6,7,7,8,5,9#0:1|1:1|2:1|3:1|4:1...",3,5
327,"11#0,1,2,3,4,5,6,7,8,9,9#0:1|1:1|2:1|3:1|4:1|5...",3,4
459,"12#0,1,2,3,4,4,5,6,6,7,4,7#0:1|1:1|2:1|3:1|4:3...",3,3
862,"13#0,1,2,3,4,5,6,7,8,9,10,11,10#0:1|1:1|2:1|3:...",3,3

In [160]:
out = (join_df.pivot_table(columns='Clasificación',
                           index='wl_signature',
                      aggfunc='size',  # count rows per value
                      fill_value=0)
         ).reset_index().rename_axis(None, axis=1)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple
0,"10#0,0,0,1,2,2,2,2,2,2#0:3|1:1|2:6",1,0,0,0,0
1,"10#0,0,1,1,1,1,1,1,1,1#0:2|1:8",1,0,0,0,3
2,"10#0,0,1,1,2,2,2,2,3,3#0:2|1:2|2:4|3:2",0,0,0,0,1
3,"10#0,0,1,1,2,2,2,3,2,3#0:2|1:2|2:4|3:2",1,0,0,0,0
4,"10#0,0,1,1,2,3,2,2,2,3#0:2|1:2|2:4|3:2",0,0,0,1,0
...,...,...,...,...,...,...
12331,"96#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0
12332,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0
12333,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0
12334,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",0,0,1,0,0
12335,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0

In [161]:
out["group_size"] = out[out.columns[1:]].sum(axis=1).sort_values(ascending=False)
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
0,"10#0,0,0,1,2,2,2,2,2,2#0:3|1:1|2:6",1,0,0,0,0,1
1,"10#0,0,1,1,1,1,1,1,1,1#0:2|1:8",1,0,0,0,3,4
2,"10#0,0,1,1,2,2,2,2,3,3#0:2|1:2|2:4|3:2",0,0,0,0,1,1
3,"10#0,0,1,1,2,2,2,3,2,3#0:2|1:2|2:4|3:2",1,0,0,0,0,1
4,"10#0,0,1,1,2,3,2,2,2,3#0:2|1:2|2:4|3:2",0,0,0,1,0,1
...,...,...,...,...,...,...,...
12331,"96#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0,1
12332,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0,1
12333,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0,1
12334,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",0,0,1,0,0,1
12335,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1,0,0,0,0,1

In [162]:
for c in out.columns[1:-1]:
    out[c] = out[c]/out["group_size"]
    
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
0,"10#0,0,0,1,2,2,2,2,2,2#0:3|1:1|2:6",1.00,0.0,0.0,0.0,0.00,1
1,"10#0,0,1,1,1,1,1,1,1,1#0:2|1:8",0.25,0.0,0.0,0.0,0.75,4
2,"10#0,0,1,1,2,2,2,2,3,3#0:2|1:2|2:4|3:2",0.00,0.0,0.0,0.0,1.00,1
3,"10#0,0,1,1,2,2,2,3,2,3#0:2|1:2|2:4|3:2",1.00,0.0,0.0,0.0,0.00,1
4,"10#0,0,1,1,2,3,2,2,2,3#0:2|1:2|2:4|3:2",0.00,0.0,0.0,1.0,0.00,1
...,...,...,...,...,...,...,...
12331,"96#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1.00,0.0,0.0,0.0,0.00,1
12332,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1.00,0.0,0.0,0.0,0.00,1
12333,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1.00,0.0,0.0,0.0,0.00,1
12334,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",0.00,0.0,1.0,0.0,0.00,1
12335,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1.00,0.0,0.0,0.0,0.00,1

In [163]:
out.sort_values("group_size", ascending=False, inplace=True)

In [164]:
out

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size
11126,"5#0,1,2,3,2#0:1|1:1|2:2|3:1",0.000000,0.000000,0.0,0.063830,0.936170,47
12022,"7#0,1,2,3,4,4,5#0:1|1:1|2:1|3:1|4:2|5:1",0.135135,0.027027,0.0,0.054054,0.783784,37
4017,"21#0,1,2,3,4,5,6,7,7,8,9,10,11,9,11,12,12,13,1...",0.000000,0.000000,0.0,0.000000,1.000000,37
11700,"6#0,0,1,1,1,1#0:2|1:4",0.027027,0.000000,0.0,0.108108,0.864865,37
717,"13#0,1,2,3,4,5,5,5,6,7,8,5,9#0:1|1:1|2:1|3:1|4...",0.000000,0.000000,0.0,0.090909,0.909091,33
...,...,...,...,...,...,...,...
4386,"22#0,1,2,3,4,5,6,6,7,8,9,9,7,10,8,10,10,11,11,...",1.000000,0.000000,0.0,0.000000,0.000000,1
4387,"22#0,1,2,3,4,5,6,6,7,8,9,9,8,10,11,11,12,13,14...",1.000000,0.000000,0.0,0.000000,0.000000,1
4388,"22#0,1,2,3,4,5,6,6,7,8,9,9,9,9,10,11,10,10,12,...",1.000000,0.000000,0.0,0.000000,0.000000,1
4389,"22#0,1,2,3,4,5,6,7,4,8,8,9,9,10,11,12,12,13,14...",1.000000,0.000000,0.0,0.000000,0.000000,1
12335,"98#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17...",1.000000,0.000000,0.0,0.000000,0.000000,1

In [165]:
cols = ['Compleja','Compuesta','Compuesta-Compleja','Indeterminada (múltiples verbos sin subordinación/coordinación clara)', "Simple"]

# 1) Range (peak-to-peak)
import numpy as np
    
out_filtered = out[out["group_size"] > 1]
out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min

# 2) Standard deviation (population)
out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)

# 3) Mean absolute deviation
m = out_filtered[cols].mean(axis=1)
out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

# Get the rows with the tightest values
tight_rows = out_filtered.sort_values(['group_size','spread'], ascending=[False, True]).head(20)  # or use 'row_std' / 'mad'
tight_rows

/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['spread'] = out_filtered[cols].to_numpy().ptp(axis=1)          # same as max-min
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['row_std'] = out_filtered[cols].std(axis=1, ddof=0)
/var/folders/rn/46s8dp4j7zng96g_212pqjlh0000gp/T/ipykernel_37153/2934903349.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_filtered['mad'] = (out_filtered[cols].sub(m, axis=0)).abs().mean(axis=1)

,wl_signature,Compleja,Compuesta,Compuesta-Compleja,Indeterminada (múltiples verbos sin subordinación/coordinación clara),Simple,group_size,spread,row_std,mad
11126,"5#0,1,2,3,2#0:1|1:1|2:2|3:1",0.000000,0.000000,0.0,0.063830,0.936170,47,0.936170,0.368914,0.294468
12022,"7#0,1,2,3,4,4,5#0:1|1:1|2:1|3:1|4:2|5:1",0.135135,0.027027,0.0,0.054054,0.783784,37,0.783784,0.295375,0.233514
11700,"6#0,0,1,1,1,1#0:2|1:4",0.027027,0.000000,0.0,0.108108,0.864865,37,0.864865,0.334786,0.265946
4017,"21#0,1,2,3,4,5,6,7,7,8,9,10,11,9,11,12,12,13,1...",0.000000,0.000000,0.0,0.000000,1.000000,37,1.000000,0.400000,0.320000
717,"13#0,1,2,3,4,5,5,5,6,7,8,5,9#0:1|1:1|2:1|3:1|4...",0.000000,0.000000,0.0,0.090909,0.909091,33,0.909091,0.356289,0.283636
7323,"3#0,1,1#0:1|1:2",0.000000,0.000000,0.0,0.033333,0.966667,30,0.966667,0.383551,0.306667
9819,"4#0,0,1,1#0:2|1:2",0.037037,0.000000,0.0,0.000000,0.962963,27,0.962963,0.381751,0.305185
9820,"4#0,1,1,1#0:1|1:3",0.041667,0.000000,0.0,0.041667,0.916667,24,0.916667,0.358818,0.286667
1652,"16#0,1,2,3,1,4,5,6,6,7,7,5,6,6,8,9#0:1|1:2|2:1...",0.000000,0.000000,0.0,0.000000,1.000000,24,1.000000,0.400000,0.320000
11125,"5#0,1,2,2,3#0:1|1:1|2:2|3:1",0.043478,0.000000,0.0,0.000000,0.956522,23,0.956522,0.378635,0.302609
1653,"16#0,1,2,3,2,3,4,5,5,6,6,4,6,6,7,7#0:1|1:1|2:2...",0.000000,0.000000,0.0,0.000000,1.000000,23,1.000000,0.400000,0.320000
525,"12#0,1,2,3,4,5,6,6,7,8,5,9#0:1|1:1|2:1|3:1|4:1...",0.105263,0.000000,0.0,0.000000,0.894737,19,0.894737,0.349753,0.277895
11704,"6#0,1,1,2,3,3#0:1|1:2|2:1|3:2",0.000000,0.000000,0.0,0.052632,0.947368,19,0.947368,0.374240,0.298947
850,"13#0,1,2,3,4,5,6,7,8,7,9,10,7#0:1|1:1|2:1|3:1|...",1.000000,0.000000,0.0,0.000000,0.000000,19,1.000000,0.400000,0.320000
12007,"7#0,1,1,2,3,2,3#0:1|1:2|2:2|3:2",0.055556,0.055556,0.0,0.111111,0.777778,18,0.777778,0.291018,0.231111
12201,"8#0,1,2,3,4,5,5,3#0:1|1:1|2:1|3:2|4:1|5:2",0.000000,0.000000,0.0,0.000000,1.000000,18,1.000000,0.400000,0.320000
2530,"18#0,1,2,3,4,4,5,5,6,7,7,6,7,8,8,9,9,5#0:1|1:1...",0.000000,0.000000,0.0,0.000000,1.000000,18,1.000000,0.400000,0.320000
286,"11#0,1,2,3,4,5,5,6,7,6,8#0:1|1:1|2:1|3:1|4:1|5...",1.000000,0.000000,0.0,0.000000,0.000000,18,1.000000,0.400000,0.320000
4588,"22#0,1,2,3,4,5,6,7,8,9,10,11,12,13,12,14,14,15...",0.000000,0.000000,0.0,0.000000,1.000000,17,1.000000,0.400000,0.320000
2283,"17#0,1,2,3,4,5,6,7,7,8,8,8,9,10,10,10,8#0:1|1:...",1.000000,0.000000,0.0,0.000000,0.000000,17,1.000000,0.400000,0.320000

In [171]:
join_df[join_df["wl_signature"] == '9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:1|7:2']

,filename,wl_signature,class_size,ID,Clasificación,Oración
2793,es_gsd-ud-train_7927.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,7927,Simple,Teorizó sobre crítica textual dentro del Bedie...
2794,es_gsd-ud-train_8960.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,8960,Compleja,Las regiones fértiles soportan conceptaculos l...
2795,es_gsd-ud-train_8408.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,8408,Simple,Luchó en las batallas de Cotagaita y Suipacha;
2796,es_gsd-ud-train_10726.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,10726,Simple,Volvió al control de Libia en 1951.
2797,es_gsd-ud-train_3080.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,3080,Simple,Son de complexión robusta y estatura relativam...
2798,es_gsd-ud-train_7626.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,7626,Simple,"Como docente, enseña historia contemporánea de..."
2799,es_gsd-ud-train_229.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,229,Simple,Falleció en la ciudad de Mérida en 1943.
2800,es_gsd-ud-train_8162.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,8162,Compleja,Aprendió por sí sólo a tocar el piano.
2801,es_gsd-ud-train_5169.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,5169,Simple,"La otra ofensiva tiene nombre propio, Sahin."
2802,es_gsd-ud-train_3247.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,3247,Compleja,Para 1 estrella que tiene está muy bien.
2803,es_gsd-ud-train_6397.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,6397,Simple,Entre sus aldeas mas prósperas figura La Reforma.
2804,es_gsd-ud-train_7552.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,7552,Compleja,Recomendable para quien quiera ver roma en rea...
2805,es_gsd-ud-train_6478.graphml,"9#0,1,2,3,4,5,6,7,7#0:1|1:1|2:1|3:1|4:1|5:1|6:...",13,6478,Simple,Estuvo al servicio de Inglaterra y España.